<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/e14357d339.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>My Wallet</title>
</head>
<body>
    <div class="jumbtron jumbtron-fluid text-white">
        
        <div class="container">
            <h1 class="display-4 font-weight-bold">MY WALLET</h1>
            <p class="lead">FOR THE BEST MANAGEMENT OF YOUR WALLET</p>
        </div>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-link"><a href="/" class="pr-2 ">Log Out</a></button>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto cbal">
                Current Balance 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto cbal" >
                <%= use.balance %> 
            </div>
        </div>
        <form method="POST" action="/wallet">
            <div class="row justify-content-center mb-4">
                <div class="col-auto">
                    <div class="input-group mt-2 mx-2">
                        <div class="form-outline">
                            <label class="form-label" for="form1">Amount</label>
                            <input type="number" name="amount" id="amount" class="form-control" required>
                            <input type="text" name="mess" id="message" class="form-control" placeholder="message">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <button type="submit" class="btn btn-success" name="submitrans" value="1">Add money</button>
                <button type="submit" class="btn btn-warning" name="submitrans" value="2">Spent money</button>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">History</button>
                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% use.trans.forEach(function(t){ %>
                                    <tr>
                                        <td> <%= t.date.getUTCFullYear() + "/" + (t.date.getUTCMonth()+1) +"/" + t.date.getUTCDate() %> </td>
                                        <td> <%= t.amount %> </td>
                                        <% if(t.action == 1){ %>
                                            <td> Added </td>
                                        <% } else { %>
                                            <td> Spent </td>
                                        <% } %>
                                        <td> <%= t.message %> </td>   
                                    </tr>
                                <% }) %> 
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>